.rotating-arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 100%;
}

.rotating-arrow {
    transition: transform 0.4s ease-in-out;
}

.rotated {
    transform: rotate(180deg);
}